@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
.headerBg {
    background-color: #474747;
}
.txtBg {
    background-color: #242424;
}
.refBg {
    background-color: #5D8CA9;
}
.navBarBg {
    background-color: #EE822E;
}
.bg {
    background-color: black;
}
p, ul {
    font-family: 'Oswald', sans-serif;
    color: #BEBEBE;
}
.header {
    font-family: 'Oswald', sans-serif;
    color: #E8E8E8;
}
.center {
    text-align: center;
}

/*makes the nav bar at the top of the webpage*/
.container {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    flex-wrap: nowrap;
}
.box {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px;
    width: 400px;
    flex: 1;
}
.box1{ background: coral;}
.box2{ background: darkgoldenrod;}
.box3{ background: darksalmon;}
.box4{ background: #219907;}
.box5{ background: #7AAAF5;}
.box6{ background: #F776F9;}
.box7{ background: #F8A7AE;}
.box8{ background: #EF324E;}
.box9{ background: #D8E357;}
.box10{ background:#1EE984;}
